@model Citations.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Articleid" />
            <div class="form-group">
                <label asp-for="Articletittle" class="control-label"></label>
                <input asp-for="Articletittle" class="form-control" />
                <span asp-validation-for="Articletittle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScannedArticlePdf" class="control-label"></label>
                <input asp-for="ScannedArticlePdf" class="form-control" />
                <span asp-validation-for="ScannedArticlePdf" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ScannedBriefQuote" class="control-label"></label>
                <input asp-for="ScannedBriefQuote" class="form-control" />
                <span asp-validation-for="ScannedBriefQuote" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NumberOfCitations" class="control-label"></label>
                <input asp-for="NumberOfCitations" class="form-control" />
                <span asp-validation-for="NumberOfCitations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfReferences" class="control-label"></label>
                <input asp-for="NumberOfReferences" class="form-control" />
                <span asp-validation-for="NumberOfReferences" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
